.margin5 {
    margin-top: 5px;
}

.image_size {
    width: 300px;
    height: auto;
}

.center {
    align-items: center;
}

.image_size_small {
    width: 50px;
    height: auto;
}

.margin_left {
    margin-left: 5px;
}
